@import url("https://rsms.me/inter/inter.css");

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Inter var", sans-serif;
  background: linear-gradient(155deg, #ffffff 20%, #a5a3a3);
  color: #101015;
}

.overlay {
  padding: 40px;
  height: 100%;
  width: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.overlay-head {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.overlay-one {
  position: absolute;
  left: 50px;
  bottom: 50px;
  white-space: pre;
}
.overlay-two {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay-four {
  white-space: pre;
  margin-bottom: 2.5rem;
  font-size: 10em;
  font-weight: 800;
  line-height: 0.6em;
  letter-spacing: -6px;
}
@media only screen and (max-width: 600px) {
  .overlay-four {
    white-space: pre;
    margin-bottom: 2.5rem;
    font-size: 3em;
    font-weight: 800;
    line-height: 0.6em;
    letter-spacing: 0px;
  }
}

.filter-green {
  filter: invert(50%) sepia(79%) saturate(2395%) hue-rotate(166deg)
    brightness(116%) contrast(92%);
  max-width: 75%;
}

.logo-left-bottom {
  position: absolute !important;
  bottom: 35px !important;
  left: 50px !important;
  font-size: 13px !important;
  top: auto !important;
}

@media only screen and (max-width: 600px) {
  .logo-left-bottom {
    position: absolute !important;
    bottom: 35px !important;
    left: 0px !important;
    font-size: 13px !important;
    top: auto !important;
  }
}

.navbar-ul {
  pointer-events: all !important;
  list-style-type: none !important;
  margin: 0 !important;
  padding: 0 !important;
  position: absolute !important;
  top: 50px !important;
  left: 50px !important;
  text-decoration: none; 
}


.navbar-li {
  display: inline ;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .navbar-li {
    display: inline;
    padding: 4px;
  }
}

.logo-left-bottom-text{
  position: absolute;
  top: 60px;
  color: white;
  padding-left: 3px;
  text-shadow: 0 0 2px #14a7e0;
}
.navbar-a{
  text-decoration: none;
  color: black;
  font-weight: 800;
}

.navbar-a:hover{
  color: #14a7e0;
}

/* a {
  pointer-events: all;
  position: absolute;
  top: 40px;
  left: 50px;
  color: #101015;
  text-decoration: none;
} */

.right {
  pointer-events: all;
  position: absolute;
  top: 35px;
  color: red;
  text-decoration: none;
  left: unset;
  right: 40px;
  font-size: 40px;
}


h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 5em;
  letter-spacing: -3px;
  font-weight: 500;
  padding: 0;
  margin: 0;
  line-height: 0.9em;
}

h1 > span {
  font-weight: 200;
}

h2 {
  margin-top: 1em;
  text-align: center;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.4em;
  letter-spacing: 2px;
}
